.page-footer {
	background-color: black;
}

.headerbrand {
	font-size: 2em;
}

.miatafont {
	font-family: 'Homemade Apple', regular;
}

.jumbotron {
	background-image: url("https://bootcamp-coders.cnm.edu/~jmiller156/bootstrap-challenge/images/jumbotronbg.jpg");
	background-size: cover;
}

.faqtitle {
	font-size: 2em;
}

.btn{
	white-space:normal !important;
	max-width:100%;
	text-align: left
}

#headingOne {
	background-color: #ff6666;
}

#headingTwo {
	background-color: #ff9e66;
}

#headingThree {
	background-color: #ffdb66;
}

#headingFour {
	background-color: #9eff66;
}

#headingFive {
	background-color: #66e5ff;
}

#headingSix {
	background-color: #6675ff;
}

#headingSeven {
	background-color: #d366ff;
}